spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/exampledb
    username: user
    password: password
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true